Source: tuquito-desktop-base
Section: metapackages
Priority: extra
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1

Package: tuquito-desktop-base
Architecture: all
Depends: aptito, garfio, guake, synaptic, tuquito-software-manager, tuquito-software-properties, trss, tuquito-bienvenida, tuquito-adsl, tuquito-control-center, tuquito-control-parental, tuquito-i18n, tuquito-sounds, tuquito-upgrade-manager, tuquito-wia, simple-ccsm, simple-scan, xchat, startupmanager
Description: Escritorio de Tuquito Base
 Instala todas las aplicaciones de Tuquito para la edición Base
 * Tuquito Team! - 2010
